.button {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    /*noinspection CssOverwrittenProperties*/
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "MathJax_Typewriter";
    /*noinspection CssOverwrittenProperties*/
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 2em;
    -fx-padding: 10 20 10 20;
}

.textField {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    /*noinspection CssOverwrittenProperties*/
    -fx-text-fill: white;
    /*noinspection CssOverwrittenProperties*/
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 2em;
    -fx-padding: 10 20 10 20;
}

.textMenu {
    -fx-text-fill: white;
}

.gridLayoutStyle {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 1 1 1 1 ;
}

.background-menu {
    -fx-background-image: url('file:res/backgrounds/background_menu.jpeg');
    -fx-background-repeat: stretch;
}

.vboxStyle, .background-settings {
    -fx-background-image: url('file:res/backgrounds/background_board0.jpg');
    -fx-background-repeat: stretch;
}

.user-choice {
    -fx-background-image: url('file:res/backgrounds/background_userchoice.jpg');
    -fx-background-repeat: stretch;
    -fx-border-color: black;
    -fx-border-width: 5;
}